<button mat-raised-button color="accent" routerLink="/todo/add">
  <mat-icon>add</mat-icon>
  Add new todo
</button>
<div class="wrap-menu">
  <div>
    <button mat-icon-button (click)="changeView('list')" [ngClass]="{'active': defaultView === 'list'}">
      <mat-icon>view_list</mat-icon>
    </button>
    <button mat-icon-button (click)="changeView('grid')" [ngClass]="{'active': defaultView === 'grid'}">
      <mat-icon>grid_view</mat-icon>
    </button>
  </div>
  <div>
    <!-- <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon>Sort</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let param of paramSort" (click)="changeSort(param.property, param.direction)">{{param.name}}</button>
    </mat-menu> -->



        <button mat-raised-button color="primary" [matMenuTriggerFor]="Sort">
          <mat-icon>menu</mat-icon>Sort</button>
    <mat-menu #Sort="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="Don">Complete sort</button>
      <button mat-menu-item [matMenuTriggerFor]="Date">Date sort</button>
    </mat-menu>

    <mat-menu #Don="matMenu">
      <button mat-menu-item *ngFor="let param of paramSort" (click)="changeSort(param.property, param.direction)">{{param.name}}</button>
    </mat-menu>
    <mat-menu #Date="matMenu">
      <button mat-menu-item *ngFor="let param of paramSortDate" (click)="changeSortDate(param.property, param.direction)">{{param.name}}</button>
    </mat-menu>
      
  </div>
</div>
<div class="{{defaultView}}-todo">
  <ng-container *ngIf="todos.length > 0; else noData">
    <mat-card class="example-card" *ngFor="let todo of todos | sort : paramSortDefault
      ; let i = index" [ngClass]="{'done': todo.status, 'low': todo.priority === 1, 'middle': todo.priority === 2, 'high': todo.priority === 3}">
      <mat-card-header>
        <mat-card-title><a [routerLink]="['/todo', todo.id]">{{todo.name}}</a></mat-card-title>
        <mat-card-subtitle>{{todo.dateComplete | date}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{todo.description}}</p>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button color="warn" (click)="deleteList(todo.id, i)">Delete</button>
          <button mat-raised-button color="primary" [routerLink]="['/todo/edit', todo.id]">Edit</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
  <ng-template #noData>
    <h2>No todo</h2>
  </ng-template>
</div>


