@import '../../assets/scss/mixsins';
.grid-todo{
    @media (min-width: 768px){
        display: grid;
        gap:15px;
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 992px){
        grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1200px){
        grid-template-columns: repeat(4, 1fr);
    }
   
}
.mat-card{
    &.done{
        background-color: rgb(122, 113, 113);
    }
    &:not(.done){
        @include colorPriority;
    }
}
.mat-button-base.active {
    color: rgba(185, 22, 22, 0.733);
}
a {
    text-decoration: none;
    color: white;
}
.wrap-menu{
    display: flex;
    justify-content: space-between
}
.list-todo{
    .mat-card{
        margin-bottom: 15px;
        display: grid;
        grid-auto-columns: auto max-content;
        grid-template-areas: "header action" "content action";
        background-color: rgba(10, 83, 131, 0.24);
    }
    .mat-card-header{
        grid-area: header;
    }
    .mat-card-content{
        grid-area: content;
    }
    .mat-card-action{
        grid-area: action;
    }
}