@mixin colorPriority {
    &.low{
        background-color: rgba(57, 175, 10, 0.801);
    }
    &.middle{
        background-color: rgba(186, 199, 4, 0.836);
    }
    &.high{
        background-color: rgba(243, 7, 7, 0.829);
    }
}