<p>todo-form works!</p>
<form [formGroup]="todoForm" (ngSubmit)="submitTodoForm()">
    <div class="form-row">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name">
            <mat-error *ngIf="form['name'].hasError('required')">
              Please enter a name
            </mat-error>
          </mat-form-field>
    </div>
    <div class="form-row">
        <mat-form-field appearance="fill" >
            <mat-label>description</mat-label>
            <textarea matInput formControlName="description" [matTextareaAutosize]="true" [matAutosizeMaxRows]="5"></textarea>
            <mat-error *ngIf="form['description'].hasError('required')">
                Please enter a description
              </mat-error>
        </mat-form-field>
    </div>
    <div class="form-row">
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [min]="minDay" formControlName="dateComplete">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form['dateComplete'].hasError('required')">
                select a date
              </mat-error>
        </mat-form-field>
    </div>
    <div class="form-row">
        <label id="example-radio-group-label">Choose prioriti todo</label>
        <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group" formControlName="priority">
            <mat-radio-button class="example-radio-button" *ngFor="let prioriti of prioritis" [value]="prioriti.id">
            {{prioriti.name}}
            </mat-radio-button>
            <mat-error *ngIf="form['priority'].hasError('required')">
                this should be important
            </mat-error>
        </mat-radio-group>
    </div>
    <div class="form-row">
        <section class="example-section">
            <mat-checkbox class="example-margin" formControlName="status">done</mat-checkbox>
          </section>
    </div>
    <div class="form-row">
        <button mat-raised-button color="primary" [disabled]="!todoForm.valid">
            <mat-icon>playlist_add_check_circle</mat-icon>
            Add new todo</button>
    </div>
</form>