<form [formGroup]="formAdd" (ngSubmit)="addProduct()">
  <div>
    <input type="text" placeholder="name" formControlName="name">
    <input type="text" placeholder="price" formControlName="price">
    <input type="submit" value="Add">
  </div>
</form>

<form>
  <div>
    <input type="text" placeholder="search" [(ngModel)]="text" name="search">{{text}}
</div>
</form>

<tr>
    <h2>Product list</h2>

<table >
  <thead>
    <tr>
      <th>#</th>
      <th>Product</th>
      <th (click)="sortPrise()">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let produkt of produkts | search : text | sort: sort; let i= index">
    <tr>
      <th>{{i+1}}</th>
      <td>{{produkt.name}}</td>
      <td>{{produkt.price}}</td>
      <td><button type="button" (click)="remove(i)">x</button></td>
    </tr>
  </tbody>
  <tfoot>
    <td>Total</td>
    <td></td>
    <td>{{total}}</td>
    <td></td>
  </tfoot>
</table>