.ng-invalid.ng-dirty{
    border-color: red;
}
.loginForm{
    width: 100%;
}
input{
    width: 290px;
    
}
.btn:disabled{
    background-color: grey;
}
.btn{
    background-color: green;
}
#rememberMe{
    width: 10px;
}
.rememberMe{
    display: flex;
    justify-content: space-around
}