ul{
    list-style: none;
    border: 2px solid;
    color: blue;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;

}